<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.ApplicationMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ApplicationEntity">
        <result property="appName" column="app_name"/>
        <result property="accessKey" column="access_key"/>
        <result property="legalHosts" column="legal_hosts"/>
        <result property="webhooks" column="webhooks"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ApplicationEntityExt">
    </resultMap>

    <sql id="tableName">`maple_application`</sql>

    <!--根据主键获取访问程序详情-->
    <select id="getByAppName" resultMap="ExtResultMap">
        SELECT
            MT.`app_name`,
            MT.`access_key`,
            MT.`legal_hosts`,
            MT.`webhooks`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
        <where>
            MT.`app_name` = #{appName}
        </where>
    </select>

</mapper>
