<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.ClusterMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ClusterEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="category" column="category"/>
        <result property="address" column="address"/>
        <result property="description" column="description"/>
        <result property="clusterConf" column="cluster_conf"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ClusterEntityExt">
    </resultMap>

    <sql id="tableName">`maple_cluster`</sql>

    <!--根据主键获取集群详情-->
    <select id="getByName" resultMap="ExtResultMap">
        SELECT
            MT.`id`,
            MT.`name`,
            MT.`category`,
            MT.`address`,
            MT.`description`,
            MT.`cluster_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
        <where>
            MT.`name` = #{name}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`name`,
                MT.`category`,
                MT.`address`,
                MT.`description`,
                MT.`cluster_conf`,
                MT.`disabled`,
                MT.`created_by`,
                MT.`updated_by`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.name != null and condition.name != ''">
                        AND MT.`name` = #{condition.name}
                    </if>
                    <if test="condition.nameIn != null and condition.nameIn.size() > 0">
                        AND MT.`name` IN
                        <foreach collection="condition.nameIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.nameNotIn != null and condition.nameNotIn.size() > 0">
                        AND MT.`name` NOT IN
                        <foreach collection="condition.nameNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.nameIsNotEmpty != null and condition.nameIsNotEmpty == true">
                        AND MT.`name` IS NOT NULL AND `name` != ''
                    </if>
                    <if test="condition.nameIsEmpty != null and condition.nameIsEmpty == true">
                        AND (MT.`name` IS NULL OR MT.`name` = '')
                    </if>
                    <if test="condition.nameStartWith != null and condition.nameStartWith != ''">
                        AND MT.`name` LIKE concat(#{condition.nameStartWith}, '%')
                    </if>
                    <if test="condition.nameEndWith != null and condition.nameEndWith != ''">
                        AND MT.`name` LIKE concat('%', #{condition.nameEndWith})
                    </if>
                    <if test="condition.nameContains != null and condition.nameContains != ''">
                        AND MT.`name` LIKE concat('%', #{condition.nameContains}, '%')
                    </if>
                    <if test="condition.category != null and condition.category != ''">
                        AND MT.`category` = #{condition.category}
                    </if>
                    <if test="condition.categoryIn != null and condition.categoryIn.size() > 0">
                        AND MT.`category` IN
                        <foreach collection="condition.categoryIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.categoryNotIn != null and condition.categoryNotIn.size() > 0">
                        AND MT.`category` NOT IN
                        <foreach collection="condition.categoryNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.categoryIsNotEmpty != null and condition.categoryIsNotEmpty == true">
                        AND MT.`category` IS NOT NULL AND `category` != ''
                    </if>
                    <if test="condition.categoryIsEmpty != null and condition.categoryIsEmpty == true">
                        AND (MT.`category` IS NULL OR MT.`category` = '')
                    </if>
                    <if test="condition.categoryStartWith != null and condition.categoryStartWith != ''">
                        AND MT.`category` LIKE concat(#{condition.categoryStartWith}, '%')
                    </if>
                    <if test="condition.categoryEndWith != null and condition.categoryEndWith != ''">
                        AND MT.`category` LIKE concat('%', #{condition.categoryEndWith})
                    </if>
                    <if test="condition.categoryContains != null and condition.categoryContains != ''">
                        AND MT.`category` LIKE concat('%', #{condition.categoryContains}, '%')
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
