<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.ClusterEngineMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ClusterEngineEntity">
        <result property="id" column="id"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="clusterName" column="cluster_name"/>
        <result property="clusterCategory" column="cluster_category"/>
        <result property="name" column="name"/>
        <result property="version" column="version"/>
        <result property="engineHome" column="engine_home"/>
        <result property="engineConf" column="engine_conf"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tableName">`maple_cluster_engine`</sql>
    <sql id="defaultConfTableName">`maple_cluster_engine_default_conf`</sql>

    <!--根据主键获取集群引擎详情-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT
            MT.`id`,
            MT.`cluster_id`,
            C.`cluster_name`,
            C.`cluster_category`,
            MT.`name`,
            MT.`version`,
            MT.`engine_home`,
            MT.`engine_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
            JOIN `maple_cluster` C on MT.`cluster_id` = C.`id`
        <where>
            MT.`id` = #{id}
        </where>
    </select>

    <select id="getByTypeAndName" resultType="java.lang.String">
        SELECT MT.`default_conf`
        FROM <include refid="defaultConfTableName"/> MT
        <where>
            `engine_id` = #{engineId} AND `obj_type` = #{objType} AND `obj_id` = #{objId}
        </where>
    </select>

    <!--根据集群，引擎名称，引擎版本获取集群引擎详情-->
    <select id="getByClusterEngineVersion" resultMap="BaseResultMap">
        SELECT
            MT.`id`,
            MT.`cluster_id`,
            C.`cluster_name`,
            C.`cluster_category`,
            MT.`name`,
            MT.`version`,
            MT.`engine_home`,
            MT.`engine_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
            JOIN `maple_cluster` C on MT.`cluster_id` = C.`id`
        <where>
            `cluster_id` = #{clusterId} AND `name` = #{name} AND `version` = #{version}
        </where>
    </select>


    <!-- 根据条件查询 -->
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`cluster_id`,
                C.`cluster_name`,
                C.`cluster_category`,
                MT.`name`,
                MT.`version`,
                MT.`engine_home`,
                MT.`engine_conf`,
                MT.`disabled`,
                MT.`created_by`,
                MT.`updated_by`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
            JOIN `maple_cluster` C on MT.`cluster_id` = C.`id`
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.id != null">
                        AND MT.`id` = #{condition.id}
                    </if>
                    <if test="condition.idIn != null and condition.idIn.size() > 0">
                        AND MT.`id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
