<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.ClusterMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ClusterEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="category" column="category"/>
        <result property="address" column="address"/>
        <result property="description" column="description"/>
        <result property="clusterConf" column="cluster_conf"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ClusterEntityExt">
    </resultMap>

    <sql id="tableName">`maple_cluster`</sql>

    <!--根据主键获取集群详情-->
    <select id="getByName" resultMap="ExtResultMap">
        SELECT
            MT.`id`,
            MT.`name`,
            MT.`category`,
            MT.`address`,
            MT.`description`,
            MT.`cluster_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
        <where>
            MT.`name` = #{name}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`name`,
                MT.`category`,
                MT.`address`,
                MT.`description`,
                MT.`cluster_conf`,
                MT.`disabled`,
                MT.`created_by`,
                MT.`updated_by`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            MT.`disabled` = 0
            <if test="condition != null">
                <if test="condition.name != null and condition.name != ''">
                    AND MT.`name` = #{condition.name}
                </if>
                <if test="condition.category != null and condition.category != ''">
                    AND MT.`category` = #{condition.category}
                </if>
            </if>
        </where>
    </sql>
</mapper>
