<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.ClusterEngineDefaultConfMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.ClusterEngineDefaultConfEntity">
        <result property="id" column="id"/>
        <result property="objType" column="obj_type"/>
        <result property="objName" column="obj_name"/>
        <result property="engineId" column="engine_id"/>
        <result property="defaultConf" column="default_conf"/>
    </resultMap>

    <sql id="tableName">`maple_cluster_engine_default_conf`</sql>

    <!--插入集群引擎默认配置-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">`id`,</if>
            <if test="entity.objType != null">`obj_type`,</if>
            <if test="entity.objName != null">`obj_name`,</if>
            <if test="entity.engineId != null">`engine_id`,</if>
            <if test="entity.defaultConf != null">`default_conf`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">#{entity.id},</if>
            <if test="entity.objType != null">#{entity.objType},</if>
            <if test="entity.objName != null">#{entity.objName},</if>
            <if test="entity.engineId != null">#{entity.engineId},</if>
            <if test="entity.defaultConf != null">#{entity.defaultConf},</if>
        </trim>
    </insert>

    <!--todo 插入具体的列-->
    <!--批量插入集群引擎默认配置-->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/>
        (
            `id`,
            `obj_type`,
            `obj_name`,
            `engine_id`,
            `default_conf`
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id},
            #{item.objType},
            #{item.objName},
            #{item.engineId},
            #{item.defaultConf}
        )
        </foreach>
    </insert>

    <!--根据条件删除集群引擎默认配置-->
    <delete id="deleteByCondition">
        DELETE FROM <include refid="tableName"/>
        <include refid="updateByPkWhere"/>
    </delete>

    <!--根据条件更新集群引擎默认配置实体不为空的字段-->
    <update id="patchByCondition">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="entity.objType != null">
                `obj_type` = #{entity.objType},
            </if>
            <if test="entity.objName != null">
                `obj_name` = #{entity.objName},
            </if>
            <if test="entity.engineId != null">
                `engine_id` = #{entity.engineId},
            </if>
            <if test="entity.defaultConf != null">
                `default_conf` = #{entity.defaultConf}
            </if>
        </set>
        <include refid="updateByPkWhere"/>
    </update>

    <!--根据条件更新集群引擎默认配置所有字段-->
    <update id="updateById">
        UPDATE <include refid="tableName"/>
        <set>
            `obj_type` = #{entity.objType},
            `obj_name` = #{entity.objName},
            `engine_id` = #{entity.engineId},
            `default_conf` = #{entity.defaultConf}
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!--根据主键获取集群引擎默认配置详情-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT
            MT.`id`,
            MT.`obj_type`,
            MT.`obj_name`,
            MT.`engine_id`,
            MT.`default_conf`
        FROM
        <include refid="tableName"/> MT
        <where>
            MT.`id` = #{id}
        </where>
    </select>

    <select id="getByTypeAndName" resultMap="BaseResultMap">
        SELECT
            MT.`id`,
            MT.`obj_type`,
            MT.`obj_name`,
            MT.`engine_id`,
            MT.`default_conf`
        FROM <include refid="tableName"/> MT
        <where>
            `engine_id` = #{engineId} AND `obj_type` = #{objType} AND `obj_name` = #{objName}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`obj_type`,
                MT.`obj_name`,
                MT.`engine_id`,
                MT.`default_conf`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
    </select>

    <!-- 更新/删除条件 -->
    <sql id="updateByPkWhere">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <choose>
                    <when test="condition.id != null">
                        `id` = #{condition.id}
                    </when>
                    <otherwise>
                        `id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.id != null">
                        AND MT.`id` = #{condition.id}
                    </if>
                    <if test="condition.idIn != null and condition.idIn.size() > 0">
                        AND MT.`id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idNotIn != null and condition.idNotIn.size() > 0">
                        AND MT.`id` NOT IN
                        <foreach collection="condition.idNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idMin != null">
                        <![CDATA[
                        AND MT.`id` >= #{condition.idMin}
                        ]]>
                    </if>
                    <if test="condition.idMax != null">
                        <![CDATA[
                        AND MT.`id` <= #{condition.idMax}
                        ]]>
                    </if>
                    <if test="condition.objType != null and condition.objType != ''">
                        AND MT.`obj_type` = #{condition.objType}
                    </if>
                    <if test="condition.objTypeIn != null and condition.objTypeIn.size() > 0">
                        AND MT.`obj_type` IN
                        <foreach collection="condition.objTypeIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.objTypeNotIn != null and condition.objTypeNotIn.size() > 0">
                        AND MT.`obj_type` NOT IN
                        <foreach collection="condition.objTypeNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.objTypeIsNotEmpty != null and condition.objTypeIsNotEmpty == true">
                        AND MT.`obj_type` IS NOT NULL AND `obj_type` != ''
                    </if>
                    <if test="condition.objTypeIsEmpty != null and condition.objTypeIsEmpty == true">
                        AND (MT.`obj_type` IS NULL OR MT.`obj_type` = '')
                    </if>
                    <if test="condition.objTypeStartWith != null and condition.objTypeStartWith != ''">
                        AND MT.`obj_type` LIKE concat(#{condition.objTypeStartWith}, '%')
                    </if>
                    <if test="condition.objTypeEndWith != null and condition.objTypeEndWith != ''">
                        AND MT.`obj_type` LIKE concat('%', #{condition.objTypeEndWith})
                    </if>
                    <if test="condition.objTypeContains != null and condition.objTypeContains != ''">
                        AND MT.`obj_type` LIKE concat('%', #{condition.objTypeContains}, '%')
                    </if>
                    <if test="condition.objName != null and condition.objName != ''">
                        AND MT.`obj_name` = #{condition.objName}
                    </if>
                    <if test="condition.objNameIn != null and condition.objNameIn.size() > 0">
                        AND MT.`obj_name` IN
                        <foreach collection="condition.objNameIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.objNameNotIn != null and condition.objNameNotIn.size() > 0">
                        AND MT.`obj_name` NOT IN
                        <foreach collection="condition.objNameNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.objNameIsNotEmpty != null and condition.objNameIsNotEmpty == true">
                        AND MT.`obj_name` IS NOT NULL AND `obj_name` != ''
                    </if>
                    <if test="condition.objNameIsEmpty != null and condition.objNameIsEmpty == true">
                        AND (MT.`obj_name` IS NULL OR MT.`obj_name` = '')
                    </if>
                    <if test="condition.objNameStartWith != null and condition.objNameStartWith != ''">
                        AND MT.`obj_name` LIKE concat(#{condition.objNameStartWith}, '%')
                    </if>
                    <if test="condition.objNameEndWith != null and condition.objNameEndWith != ''">
                        AND MT.`obj_name` LIKE concat('%', #{condition.objNameEndWith})
                    </if>
                    <if test="condition.objNameContains != null and condition.objNameContains != ''">
                        AND MT.`obj_name` LIKE concat('%', #{condition.objNameContains}, '%')
                    </if>
                    <if test="condition.engineId != null">
                        AND MT.`engine_id` = #{condition.engineId}
                    </if>
                    <if test="condition.engineIdIn != null and condition.engineIdIn.size() > 0">
                        AND MT.`engine_id` IN
                        <foreach collection="condition.engineIdIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineIdNotIn != null and condition.engineIdNotIn.size() > 0">
                        AND MT.`engine_id` NOT IN
                        <foreach collection="condition.engineIdNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineIdMin != null">
                        <![CDATA[
                        AND MT.`engine_id` >= #{condition.engineIdMin}
                        ]]>
                    </if>
                    <if test="condition.engineIdMax != null">
                        <![CDATA[
                        AND MT.`engine_id` <= #{condition.engineIdMax}
                        ]]>
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
