<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.EngineExecutionQueueMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.EngineExecutionQueueEntity">
        <result property="queueName" column="queue_name"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="resourceGroup" column="resource_group"/>
        <result property="fromApp" column="from_app"/>
        <result property="userGroup" column="user_group"/>
        <result property="priority" column="priority"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tableName">`maple_engine_execution_queue`</sql>

    <!--插入执行队列-->
    <insert id="insert">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.queueName != null">`queue_name`,</if>
            <if test="entity.clusterId != null">`cluster_id`,</if>
            <if test="entity.resourceGroup != null">`resource_group`,</if>
            <if test="entity.fromApp != null">`from_app`,</if>
            <if test="entity.userGroup != null">`user_group`,</if>
            <if test="entity.priority != null">`priority`,</if>
            <if test="entity.createdAt != null">`created_at`,</if>
            <if test="entity.updatedAt != null">`updated_at`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.queueName != null">#{entity.queueName},</if>
            <if test="entity.clusterId != null">#{entity.clusterId},</if>
            <if test="entity.resourceGroup != null">#{entity.resourceGroup},</if>
            <if test="entity.fromApp != null">#{entity.fromApp},</if>
            <if test="entity.userGroup != null">#{entity.userGroup},</if>
            <if test="entity.priority != null">#{entity.priority},</if>
            <if test="entity.createdAt != null">#{entity.createdAt},</if>
            <if test="entity.updatedAt != null">#{entity.updatedAt},</if>
        </trim>
    </insert>

    <!--根据条件删除执行队列-->
    <delete id="deleteByCondition">
        DELETE FROM <include refid="tableName"/>
        <include refid="updateByPkWhere"/>
    </delete>

    <!--根据条件更新执行队列所有字段-->
    <update id="updateByQueueName">
        UPDATE <include refid="tableName"/>
        <set>
            `cluster_id` = #{entity.clusterId},
            `resource_group` = #{entity.resourceGroup},
            `from_app` = #{entity.fromApp},
            `user_group` = #{entity.userGroup},
            `priority` = #{entity.priority},
            `updated_at` = #{entity.updatedAt}
        </set>
        <where>
            `queue_name` = #{queueName}
        </where>
    </update>

    <!--根据主键获取执行队列详情-->
    <select id="getByQueueName" resultMap="BaseResultMap">
        SELECT
            MT.`queue_name`,
            MT.`cluster_id`,
            MT.`resource_group`,
            MT.`from_app`,
            MT.`user_group`,
            MT.`priority`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
        <where>
            MT.`queue_name` = #{queueName}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`queue_name`,
                MT.`cluster_id`,
                MT.`resource_group`,
                MT.`from_app`,
                MT.`user_group`,
                MT.`priority`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
    </select>

    <!-- 更新/删除条件 -->
    <sql id="updateByPkWhere">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <choose>
                    <when test="condition.queueName != null">
                        `queue_name` = #{condition.queueName}
                    </when>
                    <otherwise>
                        `queue_name` IN
                        <foreach collection="condition.queueNameIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.fromApp != null and condition.fromApp != ''">
                        AND MT.`from_app` = #{condition.fromApp}
                    </if>
                    <if test="condition.fromAppIn != null and condition.fromAppIn.size() > 0">
                        AND MT.`from_app` IN
                        <foreach collection="condition.fromAppIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.updatedAtMin != null">
                        <![CDATA[
                        AND MT.`updated_at` >= #{condition.updatedAtMin}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMax != null">
                        <![CDATA[
                        AND MT.`updated_at` <= #{condition.updatedAtMax}
                        ]]>
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
