<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.EngineExecutionMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.EngineExecutionEntity">
        <result property="id" column="id"/>
        <result property="execFile" column="exec_file"/>
        <result property="jobId" column="job_id"/>
        <result property="fromApp" column="from_app"/>
        <result property="bizId" column="biz_id"/>
        <result property="execName" column="exec_name"/>
        <result property="jobType" column="job_type"/>
        <result property="engineId" column="engine_id"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="clusterCategory" column="cluster_category"/>
        <result property="resourceGroupKeys" column="resource_group_keys"/>
        <result property="resourceGroupValues" column="resource_group_values"/>
        <result property="priority" column="priority"/>
        <result property="runPri" column="run_pri"/>
        <result property="priUpgradable" column="pri_upgradable"/>
        <result property="userGroup" column="user_group"/>
        <result property="runBy" column="run_by"/>
        <result property="clusterAppId" column="cluster_app_id"/>
        <result property="clusterAppAddress" column="cluster_app_address"/>
        <result property="status" column="status"/>
        <result property="submittedAt" column="submitted_at"/>
        <result property="startedAt" column="started_at"/>
        <result property="finishedAt" column="finished_at"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.persistence.persistence.entity.EngineExecutionEntityExt">
        <result property="engineCategory" column="engine_category"/>
        <result property="engineVersion" column="engine_version"/>
        <result property="execConf" column="exec_conf"/>
        <result property="runConf" column="run_conf"/>
        <result property="execInfo" column="exec_info"/>
    </resultMap>

    <sql id="tableName">`maple_engine_execution`</sql>
    <sql id="extTableName">`maple_engine_execution_ext_info`</sql>

    <!--插入引擎执行记录-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">`id`,</if>
            <if test="entity.execFile != null">`exec_file`,</if>
            <if test="entity.jobId != null">`job_id`,</if>
            <if test="entity.fromApp != null">`from_app`,</if>
            <if test="entity.bizId != null">`biz_id`,</if>
            <if test="entity.execName != null">`exec_name`,</if>
            <if test="entity.jobType != null">`job_type`,</if>
            <if test="entity.engineId != null">`engine_id`,</if>
            <if test="entity.clusterId != null">`cluster_id`,</if>
            <if test="entity.clusterCategory != null">`cluster_category`,</if>
            <if test="entity.resourceGroupKeys != null">`resource_group_keys`,</if>
            <if test="entity.resourceGroupValues != null">`resource_group_values`,</if>
            <if test="entity.priority != null">`priority`, `run_pri`,</if>
            <if test="entity.priUpgradable != null">`pri_upgradable`,</if>
            <if test="entity.userGroup != null">`user_group`,</if>
            <if test="entity.runBy != null">`run_by`,</if>
            <if test="entity.clusterAppId != null">`cluster_app_id`,</if>
            <if test="entity.clusterAppAddress != null">`cluster_app_address`,</if>
            <if test="entity.status != null">`status`,</if>
            <if test="entity.submittedAt != null">`submitted_at`,</if>
            <if test="entity.startedAt != null">`started_at`,</if>
            <if test="entity.finishedAt != null">`finished_at`,</if>
            <if test="entity.createdAt != null">`created_at`,</if>
            <if test="entity.updatedAt != null">`updated_at`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">#{entity.id},</if>
            <if test="entity.execFile != null">#{entity.execFile},</if>
            <if test="entity.jobId != null">#{entity.jobId},</if>
            <if test="entity.fromApp != null">#{entity.fromApp},</if>
            <if test="entity.bizId != null">#{entity.bizId},</if>
            <if test="entity.execName != null">#{entity.execName},</if>
            <if test="entity.jobType != null">#{entity.jobType},</if>
            <if test="entity.engineId != null">#{entity.engineId},</if>
            <if test="entity.clusterId != null">#{entity.clusterId},</if>
            <if test="entity.clusterCategory != null">#{entity.clusterCategory},</if>
            <if test="entity.resourceGroupKeys != null">#{entity.resourceGroupKeys},</if>
            <if test="entity.resourceGroupValues != null">#{entity.resourceGroupValues},</if>
            <if test="entity.priority != null">#{entity.priority}, #{entity.priority},</if>
            <if test="entity.priUpgradable != null">#{entity.priUpgradable},</if>
            <if test="entity.userGroup != null">#{entity.userGroup},</if>
            <if test="entity.runBy != null">#{entity.runBy},</if>
            <if test="entity.clusterAppId != null">#{entity.clusterAppId},</if>
            <if test="entity.clusterAppAddress != null">#{entity.clusterAppAddress},</if>
            <if test="entity.status != null">#{entity.status},</if>
            <if test="entity.submittedAt != null">#{entity.submittedAt},</if>
            <if test="entity.startedAt != null">#{entity.startedAt},</if>
            <if test="entity.finishedAt != null">#{entity.finishedAt},</if>
            <if test="entity.createdAt != null">#{entity.createdAt},</if>
            <if test="entity.updatedAt != null">#{entity.updatedAt},</if>
        </trim>
    </insert>

    <insert id="insertExt">
        insert into <include refid="extTableName"/>(`id`, `exec_conf`, `run_conf`, `exec_info`)
        values (
            #{entity.id}
            <choose>
                <when test="entity.execConf != null">,#{entity.execConf}</when>
                <otherwise>,'{}'</otherwise>
            </choose>
            <choose>
                <when test="entity.runConf != null">,#{entity.runConf}</when>
                <otherwise>,'{}'</otherwise>
            </choose>
            <choose>
                <when test="entity.execInfo != null">,#{entity.execInfo}</when>
                <otherwise>,'{}'</otherwise>
            </choose>
        )
    </insert>

    <!--根据条件更新引擎执行记录实体不为空的字段-->
    <update id="patchByCondition">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="entity.runPri != null">
                `run_pri` = #{entity.runPri},
            </if>
            <if test="entity.clusterAppId != null">
                `cluster_app_id` = #{entity.clusterAppId},
            </if>
            <if test="entity.clusterAppAddress != null">
                `cluster_app_address` = #{entity.clusterAppAddress},
            </if>
            <if test="entity.status != null">
                `status` = #{entity.status},
            </if>
            <if test="entity.submittedAt != null">
                `submitted_at` = #{entity.submittedAt},
            </if>
            <if test="entity.startedAt != null">
                `started_at` = #{entity.startedAt},
            </if>
            <if test="entity.finishedAt != null">
                `finished_at` = #{entity.finishedAt},
            </if>
            <if test="entity.updatedAt != null">
                `updated_at` = #{entity.updatedAt}
            </if>
        </set>
        <where>
            `id` = #{condition.id}
        </where>
    </update>

    <update id="updateStatusById">
        UPDATE <include refid="tableName"/>
        <set>
            `status` = #{status}
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!--根据条件更新引擎执行扩展信息实体不为空的字段-->
    <update id="patchExecInfoById">
        UPDATE <include refid="extTableName"/>
        SET `exec_info` = JSON_MERGE_PATCH(`exec_info`, #{execInfo})
        WHERE `id` = #{id}
    </update>

    <!--根据主键获取引擎执行记录详情-->
    <select id="getById" resultMap="ExtResultMap">
        SELECT
            MT.`id`,
            MT.`exec_file`,
            MT.`job_id`,
            MT.`from_app`,
            MT.`biz_id`,
            MT.`exec_name`,
            MT.`job_type`,
            MT.`engine_id`,
            CE.`name` AS `engine_category`,
            CE.`version` AS `engine_version`,
            MT.`cluster_id`,
            MT.`cluster_category`,
            MT.`resource_group_keys`,
            MT.`resource_group_values`,
            C.`name` as `cluster_name`,
            MT.`priority`,
            MT.`run_pri`,
            MT.`pri_upgradable`,
            MT.`user_group`,
            MT.`run_by`,
            MT.`cluster_app_id`,
            MT.`cluster_app_address`,
            MT.`status`,
            MT.`submitted_at`,
            MT.`started_at`,
            MT.`finished_at`,
            MT.`created_at`,
            MT.`updated_at`,
            EXT.`exec_conf`,
            EXT.`run_conf`,
            EXT.`exec_info`
        FROM
        <include refid="tableName"/> MT
              JOIN <include refid="extTableName"/> EXT on MT.`id` = EXT.`id`
              JOIN `maple_cluster_engine` CE on MT.`engine_id` = CE.`id`
              JOIN `maple_cluster` C on CE.`cluster_id` = C.`id`
        <where>
            MT.`id` = #{id}
        </where>
    </select>
</mapper>
