<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.persistence.persistence.mapper.JobMapper">

    <resultMap id="ResultMap" type="org.xi.maple.persistence.persistence.entity.JobEntity">
        <result property="id" column="id"/>
        <result property="jobName" column="job_name"/>
        <result property="description" column="description"/>
        <result property="jobType" column="job_type"/>
        <result property="engineId" column="engine_id"/>
        <result property="owner" column="owner"/>
        <result property="runConf" column="run_conf"/>
        <result property="jobConf" column="job_conf"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tableName">`maple_job`</sql>

    <!--根据主键获取执行作业详情-->
    <select id="getById" resultMap="ResultMap">
        SELECT
            MT.`id`,
            MT.`job_name`,
            MT.`description`,
            MT.`job_type`,
            MT.`engine_id`,
            `T0`.`name` `engine_text`,
            MT.`owner`,
            MT.`run_conf`,
            MT.`job_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
            LEFT JOIN (SELECT `id`, `name` FROM `maple_cluster_engine`) T0 ON MT.engine_id = T0.`id`
        <where>
            MT.`id` = #{id}
        </where>
    </select>
</mapper>
