@import './base.css';

#app {
    margin: 0 auto;
}

.card-header * {
    font-weight: bold !important;
}

.card-open .card-header {
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.card-close .card-header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.form-item-160 {
    width: 160px;
}

.form-item-320 {
    width: 320px;
}

.form-item-640 {
    width: 640px;
}

.form-item-1280 {
    width: 1280px;
}
