<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.mp.persistence.mapper.ClusterEngineMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.mp.persistence.entity.ClusterEngineEntity">
        <result property="id" column="id"/>
        <result property="cluster" column="cluster"/>
        <result property="name" column="name"/>
        <result property="version" column="version"/>
        <result property="engineHome" column="engine_home"/>
        <result property="extInfo" column="ext_info"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.mp.persistence.entity.ClusterEngineEntityExt">
    </resultMap>

    <sql id="tableName">`maple_cluster_engine`</sql>

    <!--插入集群引擎-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">`id`,</if>
            <if test="entity.cluster != null">`cluster`,</if>
            <if test="entity.name != null">`name`,</if>
            <if test="entity.version != null">`version`,</if>
            <if test="entity.engineHome != null">`engine_home`,</if>
            <if test="entity.extInfo != null">`ext_info`,</if>
            <if test="entity.createdAt != null">`created_at`,</if>
            <if test="entity.updatedAt != null">`updated_at`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">#{entity.id},</if>
            <if test="entity.cluster != null">#{entity.cluster},</if>
            <if test="entity.name != null">#{entity.name},</if>
            <if test="entity.version != null">#{entity.version},</if>
            <if test="entity.engineHome != null">#{entity.engineHome},</if>
            <if test="entity.extInfo != null">#{entity.extInfo},</if>
            <if test="entity.createdAt != null">#{entity.createdAt},</if>
            <if test="entity.updatedAt != null">#{entity.updatedAt},</if>
        </trim>
    </insert>

    <!--todo 插入具体的列-->
    <!--批量插入集群引擎-->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/>
        (
            `id`,
            `cluster`,
            `name`,
            `version`,
            `engine_home`,
            `ext_info`,
            `created_at`,
            `updated_at`
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id},
            #{item.cluster},
            #{item.name},
            #{item.version},
            #{item.engineHome},
            #{item.extInfo},
            #{item.createdAt},
            #{item.updatedAt}
        )
        </foreach>
    </insert>

    <!--根据条件删除集群引擎-->
    <delete id="deleteByCondition">
        DELETE FROM <include refid="tableName"/>
        <include refid="updateByPkWhere"/>
    </delete>

    <!--根据条件更新集群引擎实体不为空的字段-->
    <update id="patchByCondition">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="entity.cluster != null">
                `cluster` = #{entity.cluster},
            </if>
            <if test="entity.name != null">
                `name` = #{entity.name},
            </if>
            <if test="entity.version != null">
                `version` = #{entity.version},
            </if>
            <if test="entity.engineHome != null">
                `engine_home` = #{entity.engineHome},
            </if>
            <if test="entity.extInfo != null">
                `ext_info` = #{entity.extInfo},
            </if>
            <if test="entity.updatedAt != null">
                `updated_at` = #{entity.updatedAt}
            </if>
        </set>
        <include refid="updateByPkWhere"/>
    </update>

    <!--根据条件更新集群引擎所有字段-->
    <update id="updateById">
        UPDATE <include refid="tableName"/>
        <set>
            `cluster` = #{entity.cluster},
            `name` = #{entity.name},
            `version` = #{entity.version},
            `engine_home` = #{entity.engineHome},
            `ext_info` = #{entity.extInfo},
            `updated_at` = #{entity.updatedAt}
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!--根据主键获取集群引擎详情-->
    <select id="getById" resultMap="ExtResultMap">
        SELECT
            MT.`id`,
            MT.`cluster`,
            MT.`name`,
            MT.`version`,
            MT.`engine_home`,
            MT.`ext_info`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
        <where>
            MT.`id` = #{id}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="ExtResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`cluster`,
                MT.`name`,
                MT.`version`,
                MT.`engine_home`,
                MT.`ext_info`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
    </select>

    <!-- 更新/删除条件 -->
    <sql id="updateByPkWhere">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <choose>
                    <when test="condition.id != null">
                        `id` = #{condition.id}
                    </when>
                    <otherwise>
                        `id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.id != null">
                        AND MT.`id` = #{condition.id}
                    </if>
                    <if test="condition.idIn != null and condition.idIn.size() > 0">
                        AND MT.`id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idNotIn != null and condition.idNotIn.size() > 0">
                        AND MT.`id` NOT IN
                        <foreach collection="condition.idNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idMin != null">
                        <![CDATA[
                        AND MT.`id` >= #{condition.idMin}
                        ]]>
                    </if>
                    <if test="condition.idMax != null">
                        <![CDATA[
                        AND MT.`id` <= #{condition.idMax}
                        ]]>
                    </if>
                    <if test="condition.cluster != null and condition.cluster != ''">
                        AND MT.`cluster` = #{condition.cluster}
                    </if>
                    <if test="condition.clusterIn != null and condition.clusterIn.size() > 0">
                        AND MT.`cluster` IN
                        <foreach collection="condition.clusterIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.clusterNotIn != null and condition.clusterNotIn.size() > 0">
                        AND MT.`cluster` NOT IN
                        <foreach collection="condition.clusterNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.clusterIsNotEmpty != null and condition.clusterIsNotEmpty == true">
                        AND MT.`cluster` IS NOT NULL AND `cluster` != ''
                    </if>
                    <if test="condition.clusterIsEmpty != null and condition.clusterIsEmpty == true">
                        AND (MT.`cluster` IS NULL OR MT.`cluster` = '')
                    </if>
                    <if test="condition.clusterStartWith != null and condition.clusterStartWith != ''">
                        AND MT.`cluster` LIKE concat(#{condition.clusterStartWith}, '%')
                    </if>
                    <if test="condition.clusterEndWith != null and condition.clusterEndWith != ''">
                        AND MT.`cluster` LIKE concat('%', #{condition.clusterEndWith})
                    </if>
                    <if test="condition.clusterContains != null and condition.clusterContains != ''">
                        AND MT.`cluster` LIKE concat('%', #{condition.clusterContains}, '%')
                    </if>
                    <if test="condition.name != null and condition.name != ''">
                        AND MT.`name` = #{condition.name}
                    </if>
                    <if test="condition.nameIn != null and condition.nameIn.size() > 0">
                        AND MT.`name` IN
                        <foreach collection="condition.nameIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.nameNotIn != null and condition.nameNotIn.size() > 0">
                        AND MT.`name` NOT IN
                        <foreach collection="condition.nameNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.nameIsNotEmpty != null and condition.nameIsNotEmpty == true">
                        AND MT.`name` IS NOT NULL AND `name` != ''
                    </if>
                    <if test="condition.nameIsEmpty != null and condition.nameIsEmpty == true">
                        AND (MT.`name` IS NULL OR MT.`name` = '')
                    </if>
                    <if test="condition.nameStartWith != null and condition.nameStartWith != ''">
                        AND MT.`name` LIKE concat(#{condition.nameStartWith}, '%')
                    </if>
                    <if test="condition.nameEndWith != null and condition.nameEndWith != ''">
                        AND MT.`name` LIKE concat('%', #{condition.nameEndWith})
                    </if>
                    <if test="condition.nameContains != null and condition.nameContains != ''">
                        AND MT.`name` LIKE concat('%', #{condition.nameContains}, '%')
                    </if>
                    <if test="condition.version != null and condition.version != ''">
                        AND MT.`version` = #{condition.version}
                    </if>
                    <if test="condition.versionIn != null and condition.versionIn.size() > 0">
                        AND MT.`version` IN
                        <foreach collection="condition.versionIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.versionNotIn != null and condition.versionNotIn.size() > 0">
                        AND MT.`version` NOT IN
                        <foreach collection="condition.versionNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.versionIsNotEmpty != null and condition.versionIsNotEmpty == true">
                        AND MT.`version` IS NOT NULL AND `version` != ''
                    </if>
                    <if test="condition.versionIsEmpty != null and condition.versionIsEmpty == true">
                        AND (MT.`version` IS NULL OR MT.`version` = '')
                    </if>
                    <if test="condition.versionStartWith != null and condition.versionStartWith != ''">
                        AND MT.`version` LIKE concat(#{condition.versionStartWith}, '%')
                    </if>
                    <if test="condition.versionEndWith != null and condition.versionEndWith != ''">
                        AND MT.`version` LIKE concat('%', #{condition.versionEndWith})
                    </if>
                    <if test="condition.versionContains != null and condition.versionContains != ''">
                        AND MT.`version` LIKE concat('%', #{condition.versionContains}, '%')
                    </if>
                    <if test="condition.engineHome != null and condition.engineHome != ''">
                        AND MT.`engine_home` = #{condition.engineHome}
                    </if>
                    <if test="condition.engineHomeIn != null and condition.engineHomeIn.size() > 0">
                        AND MT.`engine_home` IN
                        <foreach collection="condition.engineHomeIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineHomeNotIn != null and condition.engineHomeNotIn.size() > 0">
                        AND MT.`engine_home` NOT IN
                        <foreach collection="condition.engineHomeNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineHomeIsNotEmpty != null and condition.engineHomeIsNotEmpty == true">
                        AND MT.`engine_home` IS NOT NULL AND `engine_home` != ''
                    </if>
                    <if test="condition.engineHomeIsEmpty != null and condition.engineHomeIsEmpty == true">
                        AND (MT.`engine_home` IS NULL OR MT.`engine_home` = '')
                    </if>
                    <if test="condition.engineHomeStartWith != null and condition.engineHomeStartWith != ''">
                        AND MT.`engine_home` LIKE concat(#{condition.engineHomeStartWith}, '%')
                    </if>
                    <if test="condition.engineHomeEndWith != null and condition.engineHomeEndWith != ''">
                        AND MT.`engine_home` LIKE concat('%', #{condition.engineHomeEndWith})
                    </if>
                    <if test="condition.engineHomeContains != null and condition.engineHomeContains != ''">
                        AND MT.`engine_home` LIKE concat('%', #{condition.engineHomeContains}, '%')
                    </if>
                    <if test="condition.createdAtMin != null">
                        <![CDATA[
                        AND MT.`created_at` >= #{condition.createdAtMin}
                        ]]>
                    </if>
                    <if test="condition.createdAtMax != null">
                        <![CDATA[
                        AND MT.`created_at` <= #{condition.createdAtMax}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMin != null">
                        <![CDATA[
                        AND MT.`updated_at` >= #{condition.updatedAtMin}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMax != null">
                        <![CDATA[
                        AND MT.`updated_at` <= #{condition.updatedAtMax}
                        ]]>
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
