<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.mp.persistence.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.mp.persistence.entity.JobEntity">
        <result property="id" column="id"/>
        <result property="jobName" column="job_name"/>
        <result property="desc" column="desc"/>
        <result property="jobType" column="job_type"/>
        <result property="engineId" column="engine_id"/>
        <result property="owner" column="owner"/>
        <result property="runConf" column="run_conf"/>
        <result property="jobConf" column="job_conf"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.mp.persistence.entity.JobEntityExt">
        <result property="engineText" column="engine_text"/>
    </resultMap>

    <sql id="tableName">`maple_job`</sql>

    <!--插入执行作业-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">`id`,</if>
            <if test="entity.jobName != null">`job_name`,</if>
            <if test="entity.desc != null">`desc`,</if>
            <if test="entity.jobType != null">`job_type`,</if>
            <if test="entity.engineId != null">`engine_id`,</if>
            <if test="entity.owner != null">`owner`,</if>
            <if test="entity.runConf != null">`run_conf`,</if>
            <if test="entity.jobConf != null">`job_conf`,</if>
            <if test="entity.disabled != null">`disabled`,</if>
            <if test="entity.createdBy != null">`created_by`,</if>
            <if test="entity.updatedBy != null">`updated_by`,</if>
            <if test="entity.createdAt != null">`created_at`,</if>
            <if test="entity.updatedAt != null">`updated_at`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">#{entity.id},</if>
            <if test="entity.jobName != null">#{entity.jobName},</if>
            <if test="entity.desc != null">#{entity.desc},</if>
            <if test="entity.jobType != null">#{entity.jobType},</if>
            <if test="entity.engineId != null">#{entity.engineId},</if>
            <if test="entity.owner != null">#{entity.owner},</if>
            <if test="entity.runConf != null">#{entity.runConf},</if>
            <if test="entity.jobConf != null">#{entity.jobConf},</if>
            <if test="entity.disabled != null">#{entity.disabled},</if>
            <if test="entity.createdBy != null">#{entity.createdBy},</if>
            <if test="entity.updatedBy != null">#{entity.updatedBy},</if>
            <if test="entity.createdAt != null">#{entity.createdAt},</if>
            <if test="entity.updatedAt != null">#{entity.updatedAt},</if>
        </trim>
    </insert>

    <!--todo 插入具体的列-->
    <!--批量插入执行作业-->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/>
        (
            `id`,
            `job_name`,
            `desc`,
            `job_type`,
            `engine_id`,
            `owner`,
            `run_conf`,
            `job_conf`,
            `disabled`,
            `created_by`,
            `updated_by`,
            `created_at`,
            `updated_at`
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id},
            #{item.jobName},
            #{item.desc},
            #{item.jobType},
            #{item.engineId},
            #{item.owner},
            #{item.runConf},
            #{item.jobConf},
            #{item.disabled},
            #{item.createdBy},
            #{item.updatedBy},
            #{item.createdAt},
            #{item.updatedAt}
        )
        </foreach>
    </insert>

    <!--根据条件删除执行作业-->
    <delete id="deleteByCondition">
        DELETE FROM <include refid="tableName"/>
        <include refid="updateByPkWhere"/>
    </delete>

    <!--根据条件更新执行作业实体不为空的字段-->
    <update id="patchByCondition">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="entity.jobName != null">
                `job_name` = #{entity.jobName},
            </if>
            <if test="entity.desc != null">
                `desc` = #{entity.desc},
            </if>
            <if test="entity.jobType != null">
                `job_type` = #{entity.jobType},
            </if>
            <if test="entity.engineId != null">
                `engine_id` = #{entity.engineId},
            </if>
            <if test="entity.owner != null">
                `owner` = #{entity.owner},
            </if>
            <if test="entity.runConf != null">
                `run_conf` = #{entity.runConf},
            </if>
            <if test="entity.jobConf != null">
                `job_conf` = #{entity.jobConf},
            </if>
            <if test="entity.disabled != null">
                `disabled` = #{entity.disabled},
            </if>
            <if test="entity.updatedBy != null">
                `updated_by` = #{entity.updatedBy},
            </if>
            <if test="entity.updatedAt != null">
                `updated_at` = #{entity.updatedAt}
            </if>
        </set>
        <include refid="updateByPkWhere"/>
    </update>

    <!--根据条件更新执行作业所有字段-->
    <update id="updateById">
        UPDATE <include refid="tableName"/>
        <set>
            `job_name` = #{entity.jobName},
            `desc` = #{entity.desc},
            `job_type` = #{entity.jobType},
            `engine_id` = #{entity.engineId},
            `owner` = #{entity.owner},
            `run_conf` = #{entity.runConf},
            `job_conf` = #{entity.jobConf},
            `updated_by` = #{entity.updatedBy},
            `updated_at` = #{entity.updatedAt}
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!--根据主键获取执行作业详情-->
    <select id="getById" resultMap="ExtResultMap">
        SELECT
            MT.`id`,
            MT.`job_name`,
            MT.`desc`,
            MT.`job_type`,
            MT.`engine_id`,
            `T0`.`name` `engine_text`,
            MT.`owner`,
            MT.`run_conf`,
            MT.`job_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
            LEFT JOIN (SELECT `id`, `name` FROM `maple_cluster_engine`) T0 ON MT.engine_id = T0.`id`
        <where>
            MT.`id` = #{id}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="ExtResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`job_name`,
                MT.`desc`,
                MT.`job_type`,
                MT.`engine_id`,
                MT.`owner`,
                MT.`run_conf`,
                MT.`job_conf`,
                MT.`disabled`,
                MT.`created_by`,
                MT.`updated_by`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
    </select>

    <!-- 更新/删除条件 -->
    <sql id="updateByPkWhere">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <choose>
                    <when test="condition.id != null">
                        `id` = #{condition.id}
                    </when>
                    <otherwise>
                        `id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.id != null">
                        AND MT.`id` = #{condition.id}
                    </if>
                    <if test="condition.idIn != null and condition.idIn.size() > 0">
                        AND MT.`id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idNotIn != null and condition.idNotIn.size() > 0">
                        AND MT.`id` NOT IN
                        <foreach collection="condition.idNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idMin != null">
                        <![CDATA[
                        AND MT.`id` >= #{condition.idMin}
                        ]]>
                    </if>
                    <if test="condition.idMax != null">
                        <![CDATA[
                        AND MT.`id` <= #{condition.idMax}
                        ]]>
                    </if>
                    <if test="condition.jobName != null and condition.jobName != ''">
                        AND MT.`job_name` = #{condition.jobName}
                    </if>
                    <if test="condition.jobNameIn != null and condition.jobNameIn.size() > 0">
                        AND MT.`job_name` IN
                        <foreach collection="condition.jobNameIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobNameNotIn != null and condition.jobNameNotIn.size() > 0">
                        AND MT.`job_name` NOT IN
                        <foreach collection="condition.jobNameNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobNameIsNotEmpty != null and condition.jobNameIsNotEmpty == true">
                        AND MT.`job_name` IS NOT NULL AND `job_name` != ''
                    </if>
                    <if test="condition.jobNameIsEmpty != null and condition.jobNameIsEmpty == true">
                        AND (MT.`job_name` IS NULL OR MT.`job_name` = '')
                    </if>
                    <if test="condition.jobNameStartWith != null and condition.jobNameStartWith != ''">
                        AND MT.`job_name` LIKE concat(#{condition.jobNameStartWith}, '%')
                    </if>
                    <if test="condition.jobNameEndWith != null and condition.jobNameEndWith != ''">
                        AND MT.`job_name` LIKE concat('%', #{condition.jobNameEndWith})
                    </if>
                    <if test="condition.jobNameContains != null and condition.jobNameContains != ''">
                        AND MT.`job_name` LIKE concat('%', #{condition.jobNameContains}, '%')
                    </if>
                    <if test="condition.jobType != null and condition.jobType != ''">
                        AND MT.`job_type` = #{condition.jobType}
                    </if>
                    <if test="condition.jobTypeIn != null and condition.jobTypeIn.size() > 0">
                        AND MT.`job_type` IN
                        <foreach collection="condition.jobTypeIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobTypeNotIn != null and condition.jobTypeNotIn.size() > 0">
                        AND MT.`job_type` NOT IN
                        <foreach collection="condition.jobTypeNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobTypeIsNotEmpty != null and condition.jobTypeIsNotEmpty == true">
                        AND MT.`job_type` IS NOT NULL AND `job_type` != ''
                    </if>
                    <if test="condition.jobTypeIsEmpty != null and condition.jobTypeIsEmpty == true">
                        AND (MT.`job_type` IS NULL OR MT.`job_type` = '')
                    </if>
                    <if test="condition.jobTypeStartWith != null and condition.jobTypeStartWith != ''">
                        AND MT.`job_type` LIKE concat(#{condition.jobTypeStartWith}, '%')
                    </if>
                    <if test="condition.jobTypeEndWith != null and condition.jobTypeEndWith != ''">
                        AND MT.`job_type` LIKE concat('%', #{condition.jobTypeEndWith})
                    </if>
                    <if test="condition.jobTypeContains != null and condition.jobTypeContains != ''">
                        AND MT.`job_type` LIKE concat('%', #{condition.jobTypeContains}, '%')
                    </if>
                    <if test="condition.engineId != null">
                        AND MT.`engine_id` = #{condition.engineId}
                    </if>
                    <if test="condition.engineIdIn != null and condition.engineIdIn.size() > 0">
                        AND MT.`engine_id` IN
                        <foreach collection="condition.engineIdIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineIdNotIn != null and condition.engineIdNotIn.size() > 0">
                        AND MT.`engine_id` NOT IN
                        <foreach collection="condition.engineIdNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineIdMin != null">
                        <![CDATA[
                        AND MT.`engine_id` >= #{condition.engineIdMin}
                        ]]>
                    </if>
                    <if test="condition.engineIdMax != null">
                        <![CDATA[
                        AND MT.`engine_id` <= #{condition.engineIdMax}
                        ]]>
                    </if>
                    <if test="condition.owner != null and condition.owner != ''">
                        AND MT.`owner` = #{condition.owner}
                    </if>
                    <if test="condition.ownerIn != null and condition.ownerIn.size() > 0">
                        AND MT.`owner` IN
                        <foreach collection="condition.ownerIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.ownerNotIn != null and condition.ownerNotIn.size() > 0">
                        AND MT.`owner` NOT IN
                        <foreach collection="condition.ownerNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.ownerIsNotEmpty != null and condition.ownerIsNotEmpty == true">
                        AND MT.`owner` IS NOT NULL AND `owner` != ''
                    </if>
                    <if test="condition.ownerIsEmpty != null and condition.ownerIsEmpty == true">
                        AND (MT.`owner` IS NULL OR MT.`owner` = '')
                    </if>
                    <if test="condition.ownerStartWith != null and condition.ownerStartWith != ''">
                        AND MT.`owner` LIKE concat(#{condition.ownerStartWith}, '%')
                    </if>
                    <if test="condition.ownerEndWith != null and condition.ownerEndWith != ''">
                        AND MT.`owner` LIKE concat('%', #{condition.ownerEndWith})
                    </if>
                    <if test="condition.ownerContains != null and condition.ownerContains != ''">
                        AND MT.`owner` LIKE concat('%', #{condition.ownerContains}, '%')
                    </if>
                    <if test="condition.disabled != null">
                        AND MT.`disabled` = #{condition.disabled}
                    </if>
                    <if test="condition.createdBy != null">
                        AND MT.`created_by` = #{condition.createdBy}
                    </if>
                    <if test="condition.createdByIn != null and condition.createdByIn.size() > 0">
                        AND MT.`created_by` IN
                        <foreach collection="condition.createdByIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.createdByNotIn != null and condition.createdByNotIn.size() > 0">
                        AND MT.`created_by` NOT IN
                        <foreach collection="condition.createdByNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.createdByMin != null">
                        <![CDATA[
                        AND MT.`created_by` >= #{condition.createdByMin}
                        ]]>
                    </if>
                    <if test="condition.createdByMax != null">
                        <![CDATA[
                        AND MT.`created_by` <= #{condition.createdByMax}
                        ]]>
                    </if>
                    <if test="condition.updatedBy != null">
                        AND MT.`updated_by` = #{condition.updatedBy}
                    </if>
                    <if test="condition.updatedByIn != null and condition.updatedByIn.size() > 0">
                        AND MT.`updated_by` IN
                        <foreach collection="condition.updatedByIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.updatedByNotIn != null and condition.updatedByNotIn.size() > 0">
                        AND MT.`updated_by` NOT IN
                        <foreach collection="condition.updatedByNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.updatedByMin != null">
                        <![CDATA[
                        AND MT.`updated_by` >= #{condition.updatedByMin}
                        ]]>
                    </if>
                    <if test="condition.updatedByMax != null">
                        <![CDATA[
                        AND MT.`updated_by` <= #{condition.updatedByMax}
                        ]]>
                    </if>
                    <if test="condition.createdAtMin != null">
                        <![CDATA[
                        AND MT.`created_at` >= #{condition.createdAtMin}
                        ]]>
                    </if>
                    <if test="condition.createdAtMax != null">
                        <![CDATA[
                        AND MT.`created_at` <= #{condition.createdAtMax}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMin != null">
                        <![CDATA[
                        AND MT.`updated_at` >= #{condition.updatedAtMin}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMax != null">
                        <![CDATA[
                        AND MT.`updated_at` <= #{condition.updatedAtMax}
                        ]]>
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
