<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.mp.persistence.mapper.JobMapper">

    <resultMap id="BaseResultMap" type="org.xi.maple.mp.persistence.entity.JobEntity">
        <result property="id" column="id"/>
        <result property="jobName" column="job_name"/>
        <result property="description" column="description"/>
        <result property="jobType" column="job_type"/>
        <result property="userGroup" column="user_group"/>
        <result property="owner" column="owner"/>
        <result property="fromApp" column="from_app"/>
        <result property="engineId" column="engine_id"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="clusterCategory" column="cluster_category"/>
        <result property="priority" column="priority"/>
        <result property="priUpgradable" column="pri_upgradable"/>
        <result property="runConf" column="run_conf"/>
        <result property="jobConf" column="job_conf"/>
        <result property="disabled" column="disabled"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="org.xi.maple.mp.persistence.entity.JobEntityExt">
        <result property="engineText" column="engine_text"/>
    </resultMap>

    <sql id="tableName">`maple_job`</sql>

    <!--插入执行作业-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">`id`,</if>
            <if test="entity.jobName != null">`job_name`,</if>
            <if test="entity.description != null">`description`,</if>
            <if test="entity.jobType != null">`job_type`,</if>
            <if test="entity.userGroup != null">`user_group`,</if>
            <if test="entity.owner != null">`owner`,</if>
            <if test="entity.fromApp != null">`from_app`,</if>
            <if test="entity.engineId != null">`engine_id`,</if>
            <if test="entity.clusterId != null">`cluster_id`,</if>
            <if test="entity.clusterCategory != null">`cluster_category`,</if>
            <if test="entity.priority != null">`priority`,</if>
            <if test="entity.priUpgradable != null">`pri_upgradable`,</if>
            <if test="entity.runConf != null">`run_conf`,</if>
            <if test="entity.jobConf != null">`job_conf`,</if>
            <if test="entity.disabled != null">`disabled`,</if>
            <if test="entity.createdBy != null">`created_by`,</if>
            <if test="entity.updatedBy != null">`updated_by`,</if>
            <if test="entity.createdAt != null">`created_at`,</if>
            <if test="entity.updatedAt != null">`updated_at`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.id != null">#{entity.id},</if>
            <if test="entity.jobName != null">#{entity.jobName},</if>
            <if test="entity.description != null">#{entity.description},</if>
            <if test="entity.jobType != null">#{entity.jobType},</if>
            <if test="entity.userGroup != null">#{entity.userGroup},</if>
            <if test="entity.owner != null">#{entity.owner},</if>
            <if test="entity.fromApp != null">#{entity.fromApp},</if>
            <if test="entity.engineId != null">#{entity.engineId},</if>
            <if test="entity.clusterId != null">#{entity.clusterId},</if>
            <if test="entity.clusterCategory != null">#{entity.clusterCategory},</if>
            <if test="entity.priority != null">#{entity.priority},</if>
            <if test="entity.priUpgradable != null">#{entity.priUpgradable},</if>
            <if test="entity.runConf != null">#{entity.runConf},</if>
            <if test="entity.jobConf != null">#{entity.jobConf},</if>
            <if test="entity.disabled != null">#{entity.disabled},</if>
            <if test="entity.createdBy != null">#{entity.createdBy},</if>
            <if test="entity.updatedBy != null">#{entity.updatedBy},</if>
            <if test="entity.createdAt != null">#{entity.createdAt},</if>
            <if test="entity.updatedAt != null">#{entity.updatedAt},</if>
        </trim>
    </insert>

    <!--todo 插入具体的列-->
    <!--批量插入执行作业-->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/>
        (
            `id`,
            `job_name`,
            `description`,
            `job_type`,
            `user_group`,
            `owner`,
            `from_app`,
            `engine_id`,
            `cluster_id`,
            `cluster_category`,
            `priority`,
            `pri_upgradable`,
            `run_conf`,
            `job_conf`,
            `disabled`,
            `created_by`,
            `updated_by`,
            `created_at`,
            `updated_at`
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id},
            #{item.jobName},
            #{item.description},
            #{item.jobType},
            #{item.userGroup},
            #{item.owner},
            #{item.fromApp},
            #{item.engineId},
            #{item.clusterId},
            #{item.clusterCategory},
            #{item.priority},
            #{item.priUpgradable},
            #{item.runConf},
            #{item.jobConf},
            #{item.disabled},
            #{item.createdBy},
            #{item.updatedBy},
            #{item.createdAt},
            #{item.updatedAt}
        )
        </foreach>
    </insert>

    <!--根据条件删除执行作业-->
    <delete id="deleteByCondition">
        DELETE FROM <include refid="tableName"/>
        <include refid="updateByPkWhere"/>
    </delete>

    <!--根据条件更新执行作业实体不为空的字段-->
    <update id="patchByCondition">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="entity.jobName != null">
                `job_name` = #{entity.jobName},
            </if>
            <if test="entity.description != null">
                `description` = #{entity.description},
            </if>
            <if test="entity.jobType != null">
                `job_type` = #{entity.jobType},
            </if>
            <if test="entity.userGroup != null">
                `user_group` = #{entity.userGroup},
            </if>
            <if test="entity.owner != null">
                `owner` = #{entity.owner},
            </if>
            <if test="entity.fromApp != null">
                `from_app` = #{entity.fromApp},
            </if>
            <if test="entity.engineId != null">
                `engine_id` = #{entity.engineId},
            </if>
            <if test="entity.clusterId != null">
                `cluster_id` = #{entity.clusterId},
            </if>
            <if test="entity.clusterCategory != null">
                `cluster_category` = #{entity.clusterCategory},
            </if>
            <if test="entity.priority != null">
                `priority` = #{entity.priority},
            </if>
            <if test="entity.priUpgradable != null">
                `pri_upgradable` = #{entity.priUpgradable},
            </if>
            <if test="entity.runConf != null">
                `run_conf` = #{entity.runConf},
            </if>
            <if test="entity.jobConf != null">
                `job_conf` = #{entity.jobConf},
            </if>
            <if test="entity.disabled != null">
                `disabled` = #{entity.disabled},
            </if>
            <if test="entity.updatedBy != null">
                `updated_by` = #{entity.updatedBy},
            </if>
            <if test="entity.updatedAt != null">
                `updated_at` = #{entity.updatedAt}
            </if>
        </set>
        <include refid="updateByPkWhere"/>
    </update>

    <!--根据条件更新执行作业所有字段-->
    <update id="updateById">
        UPDATE <include refid="tableName"/>
        <set>
            `job_name` = #{entity.jobName},
            `description` = #{entity.description},
            `job_type` = #{entity.jobType},
            `user_group` = #{entity.userGroup},
            `owner` = #{entity.owner},
            `from_app` = #{entity.fromApp},
            `engine_id` = #{entity.engineId},
            `cluster_id` = #{entity.clusterId},
            `cluster_category` = #{entity.clusterCategory},
            `priority` = #{entity.priority},
            `pri_upgradable` = #{entity.priUpgradable},
            `run_conf` = #{entity.runConf},
            `job_conf` = #{entity.jobConf},
            `updated_by` = #{entity.updatedBy},
            `updated_at` = #{entity.updatedAt}
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!--根据主键获取执行作业详情-->
    <select id="getById" resultMap="ExtResultMap">
        SELECT
            MT.`id`,
            MT.`job_name`,
            MT.`description`,
            MT.`job_type`,
            MT.`user_group`,
            MT.`owner`,
            MT.`from_app`,
            MT.`engine_id`,
            `T0`.`name` `engine_text`,
            MT.`cluster_id`,
            MT.`cluster_category`,
            MT.`priority`,
            MT.`pri_upgradable`,
            MT.`run_conf`,
            MT.`job_conf`,
            MT.`disabled`,
            MT.`created_by`,
            MT.`updated_by`,
            MT.`created_at`,
            MT.`updated_at`
        FROM
        <include refid="tableName"/> MT
            LEFT JOIN (SELECT `id`, `name` FROM `maple_cluster_engine`) T0 ON MT.engine_id = T0.`id`
        <where>
            MT.`id` = #{id}
        </where>
    </select>

    <!-- 根据条件查询 -->
    <select id="select" resultMap="ExtResultMap">
        SELECT
        <choose>
            <when test="columnsCondition != null and columnsCondition.columns != null">
                <foreach collection="columnsCondition.columns" item="it" separator=",">MT.`${it}`</foreach>
            </when>
            <otherwise>
                MT.`id`,
                MT.`job_name`,
                MT.`description`,
                MT.`job_type`,
                MT.`user_group`,
                MT.`owner`,
                MT.`from_app`,
                MT.`engine_id`,
                MT.`cluster_id`,
                MT.`cluster_category`,
                MT.`priority`,
                MT.`pri_upgradable`,
                MT.`run_conf`,
                MT.`job_conf`,
                MT.`disabled`,
                MT.`created_by`,
                MT.`updated_by`,
                MT.`created_at`,
                MT.`updated_at`
            </otherwise>
        </choose>
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
        <if test="sortCondition != null and sortCondition.orderBy != null">
            ORDER BY <foreach collection="sortCondition.orderBy" index="key" item="val" separator=",">MT.${key} ${val}</foreach>
        </if>
    </select>

    <!-- 根据条件查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM <include refid="tableName"/> MT
        <include refid="where"/>
    </select>

    <!-- 更新/删除条件 -->
    <sql id="updateByPkWhere">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <choose>
                    <when test="condition.id != null">
                        `id` = #{condition.id}
                    </when>
                    <otherwise>
                        `id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 查询条件 -->
    <sql id="where">
        <where>
            <if test="condition == null">1!=1</if>
            <if test="condition != null">
                <trim prefixOverrides="AND|OR">
                    <if test="condition.id != null">
                        AND MT.`id` = #{condition.id}
                    </if>
                    <if test="condition.idIn != null and condition.idIn.size() > 0">
                        AND MT.`id` IN
                        <foreach collection="condition.idIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idNotIn != null and condition.idNotIn.size() > 0">
                        AND MT.`id` NOT IN
                        <foreach collection="condition.idNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.idMin != null">
                        <![CDATA[
                        AND MT.`id` >= #{condition.idMin}
                        ]]>
                    </if>
                    <if test="condition.idMax != null">
                        <![CDATA[
                        AND MT.`id` <= #{condition.idMax}
                        ]]>
                    </if>
                    <if test="condition.jobName != null and condition.jobName != ''">
                        AND MT.`job_name` = #{condition.jobName}
                    </if>
                    <if test="condition.jobNameIn != null and condition.jobNameIn.size() > 0">
                        AND MT.`job_name` IN
                        <foreach collection="condition.jobNameIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobNameNotIn != null and condition.jobNameNotIn.size() > 0">
                        AND MT.`job_name` NOT IN
                        <foreach collection="condition.jobNameNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobNameIsNotEmpty != null and condition.jobNameIsNotEmpty == true">
                        AND MT.`job_name` IS NOT NULL AND `job_name` != ''
                    </if>
                    <if test="condition.jobNameIsEmpty != null and condition.jobNameIsEmpty == true">
                        AND (MT.`job_name` IS NULL OR MT.`job_name` = '')
                    </if>
                    <if test="condition.jobNameStartWith != null and condition.jobNameStartWith != ''">
                        AND MT.`job_name` LIKE concat(#{condition.jobNameStartWith}, '%')
                    </if>
                    <if test="condition.jobNameEndWith != null and condition.jobNameEndWith != ''">
                        AND MT.`job_name` LIKE concat('%', #{condition.jobNameEndWith})
                    </if>
                    <if test="condition.jobNameContains != null and condition.jobNameContains != ''">
                        AND MT.`job_name` LIKE concat('%', #{condition.jobNameContains}, '%')
                    </if>
                    <if test="condition.jobType != null and condition.jobType != ''">
                        AND MT.`job_type` = #{condition.jobType}
                    </if>
                    <if test="condition.jobTypeIn != null and condition.jobTypeIn.size() > 0">
                        AND MT.`job_type` IN
                        <foreach collection="condition.jobTypeIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobTypeNotIn != null and condition.jobTypeNotIn.size() > 0">
                        AND MT.`job_type` NOT IN
                        <foreach collection="condition.jobTypeNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.jobTypeIsNotEmpty != null and condition.jobTypeIsNotEmpty == true">
                        AND MT.`job_type` IS NOT NULL AND `job_type` != ''
                    </if>
                    <if test="condition.jobTypeIsEmpty != null and condition.jobTypeIsEmpty == true">
                        AND (MT.`job_type` IS NULL OR MT.`job_type` = '')
                    </if>
                    <if test="condition.jobTypeStartWith != null and condition.jobTypeStartWith != ''">
                        AND MT.`job_type` LIKE concat(#{condition.jobTypeStartWith}, '%')
                    </if>
                    <if test="condition.jobTypeEndWith != null and condition.jobTypeEndWith != ''">
                        AND MT.`job_type` LIKE concat('%', #{condition.jobTypeEndWith})
                    </if>
                    <if test="condition.jobTypeContains != null and condition.jobTypeContains != ''">
                        AND MT.`job_type` LIKE concat('%', #{condition.jobTypeContains}, '%')
                    </if>
                    <if test="condition.userGroup != null">
                        AND MT.`user_group` = #{condition.userGroup}
                    </if>
                    <if test="condition.userGroupIn != null and condition.userGroupIn.size() > 0">
                        AND MT.`user_group` IN
                        <foreach collection="condition.userGroupIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.userGroupNotIn != null and condition.userGroupNotIn.size() > 0">
                        AND MT.`user_group` NOT IN
                        <foreach collection="condition.userGroupNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.userGroupMin != null">
                        <![CDATA[
                        AND MT.`user_group` >= #{condition.userGroupMin}
                        ]]>
                    </if>
                    <if test="condition.userGroupMax != null">
                        <![CDATA[
                        AND MT.`user_group` <= #{condition.userGroupMax}
                        ]]>
                    </if>
                    <if test="condition.owner != null">
                        AND MT.`owner` = #{condition.owner}
                    </if>
                    <if test="condition.ownerIn != null and condition.ownerIn.size() > 0">
                        AND MT.`owner` IN
                        <foreach collection="condition.ownerIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.ownerNotIn != null and condition.ownerNotIn.size() > 0">
                        AND MT.`owner` NOT IN
                        <foreach collection="condition.ownerNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.ownerMin != null">
                        <![CDATA[
                        AND MT.`owner` >= #{condition.ownerMin}
                        ]]>
                    </if>
                    <if test="condition.ownerMax != null">
                        <![CDATA[
                        AND MT.`owner` <= #{condition.ownerMax}
                        ]]>
                    </if>
                    <if test="condition.fromApp != null and condition.fromApp != ''">
                        AND MT.`from_app` = #{condition.fromApp}
                    </if>
                    <if test="condition.fromAppIn != null and condition.fromAppIn.size() > 0">
                        AND MT.`from_app` IN
                        <foreach collection="condition.fromAppIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.fromAppNotIn != null and condition.fromAppNotIn.size() > 0">
                        AND MT.`from_app` NOT IN
                        <foreach collection="condition.fromAppNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.fromAppIsNotEmpty != null and condition.fromAppIsNotEmpty == true">
                        AND MT.`from_app` IS NOT NULL AND `from_app` != ''
                    </if>
                    <if test="condition.fromAppIsEmpty != null and condition.fromAppIsEmpty == true">
                        AND (MT.`from_app` IS NULL OR MT.`from_app` = '')
                    </if>
                    <if test="condition.fromAppStartWith != null and condition.fromAppStartWith != ''">
                        AND MT.`from_app` LIKE concat(#{condition.fromAppStartWith}, '%')
                    </if>
                    <if test="condition.fromAppEndWith != null and condition.fromAppEndWith != ''">
                        AND MT.`from_app` LIKE concat('%', #{condition.fromAppEndWith})
                    </if>
                    <if test="condition.fromAppContains != null and condition.fromAppContains != ''">
                        AND MT.`from_app` LIKE concat('%', #{condition.fromAppContains}, '%')
                    </if>
                    <if test="condition.engineId != null">
                        AND MT.`engine_id` = #{condition.engineId}
                    </if>
                    <if test="condition.engineIdIn != null and condition.engineIdIn.size() > 0">
                        AND MT.`engine_id` IN
                        <foreach collection="condition.engineIdIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineIdNotIn != null and condition.engineIdNotIn.size() > 0">
                        AND MT.`engine_id` NOT IN
                        <foreach collection="condition.engineIdNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.engineIdMin != null">
                        <![CDATA[
                        AND MT.`engine_id` >= #{condition.engineIdMin}
                        ]]>
                    </if>
                    <if test="condition.engineIdMax != null">
                        <![CDATA[
                        AND MT.`engine_id` <= #{condition.engineIdMax}
                        ]]>
                    </if>
                    <if test="condition.clusterId != null">
                        AND MT.`cluster_id` = #{condition.clusterId}
                    </if>
                    <if test="condition.clusterIdIn != null and condition.clusterIdIn.size() > 0">
                        AND MT.`cluster_id` IN
                        <foreach collection="condition.clusterIdIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.clusterIdNotIn != null and condition.clusterIdNotIn.size() > 0">
                        AND MT.`cluster_id` NOT IN
                        <foreach collection="condition.clusterIdNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.clusterIdMin != null">
                        <![CDATA[
                        AND MT.`cluster_id` >= #{condition.clusterIdMin}
                        ]]>
                    </if>
                    <if test="condition.clusterIdMax != null">
                        <![CDATA[
                        AND MT.`cluster_id` <= #{condition.clusterIdMax}
                        ]]>
                    </if>
                    <if test="condition.clusterCategory != null and condition.clusterCategory != ''">
                        AND MT.`cluster_category` = #{condition.clusterCategory}
                    </if>
                    <if test="condition.clusterCategoryIn != null and condition.clusterCategoryIn.size() > 0">
                        AND MT.`cluster_category` IN
                        <foreach collection="condition.clusterCategoryIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.clusterCategoryNotIn != null and condition.clusterCategoryNotIn.size() > 0">
                        AND MT.`cluster_category` NOT IN
                        <foreach collection="condition.clusterCategoryNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.clusterCategoryIsNotEmpty != null and condition.clusterCategoryIsNotEmpty == true">
                        AND MT.`cluster_category` IS NOT NULL AND `cluster_category` != ''
                    </if>
                    <if test="condition.clusterCategoryIsEmpty != null and condition.clusterCategoryIsEmpty == true">
                        AND (MT.`cluster_category` IS NULL OR MT.`cluster_category` = '')
                    </if>
                    <if test="condition.clusterCategoryStartWith != null and condition.clusterCategoryStartWith != ''">
                        AND MT.`cluster_category` LIKE concat(#{condition.clusterCategoryStartWith}, '%')
                    </if>
                    <if test="condition.clusterCategoryEndWith != null and condition.clusterCategoryEndWith != ''">
                        AND MT.`cluster_category` LIKE concat('%', #{condition.clusterCategoryEndWith})
                    </if>
                    <if test="condition.clusterCategoryContains != null and condition.clusterCategoryContains != ''">
                        AND MT.`cluster_category` LIKE concat('%', #{condition.clusterCategoryContains}, '%')
                    </if>
                    <if test="condition.priority != null">
                        AND MT.`priority` = #{condition.priority}
                    </if>
                    <if test="condition.priorityIn != null and condition.priorityIn.size() > 0">
                        AND MT.`priority` IN
                        <foreach collection="condition.priorityIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.priorityNotIn != null and condition.priorityNotIn.size() > 0">
                        AND MT.`priority` NOT IN
                        <foreach collection="condition.priorityNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.priorityMin != null">
                        <![CDATA[
                        AND MT.`priority` >= #{condition.priorityMin}
                        ]]>
                    </if>
                    <if test="condition.priorityMax != null">
                        <![CDATA[
                        AND MT.`priority` <= #{condition.priorityMax}
                        ]]>
                    </if>
                    <if test="condition.disabled != null">
                        AND MT.`disabled` = #{condition.disabled}
                    </if>
                    <if test="condition.createdBy != null">
                        AND MT.`created_by` = #{condition.createdBy}
                    </if>
                    <if test="condition.createdByIn != null and condition.createdByIn.size() > 0">
                        AND MT.`created_by` IN
                        <foreach collection="condition.createdByIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.createdByNotIn != null and condition.createdByNotIn.size() > 0">
                        AND MT.`created_by` NOT IN
                        <foreach collection="condition.createdByNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.createdByMin != null">
                        <![CDATA[
                        AND MT.`created_by` >= #{condition.createdByMin}
                        ]]>
                    </if>
                    <if test="condition.createdByMax != null">
                        <![CDATA[
                        AND MT.`created_by` <= #{condition.createdByMax}
                        ]]>
                    </if>
                    <if test="condition.updatedBy != null">
                        AND MT.`updated_by` = #{condition.updatedBy}
                    </if>
                    <if test="condition.updatedByIn != null and condition.updatedByIn.size() > 0">
                        AND MT.`updated_by` IN
                        <foreach collection="condition.updatedByIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.updatedByNotIn != null and condition.updatedByNotIn.size() > 0">
                        AND MT.`updated_by` NOT IN
                        <foreach collection="condition.updatedByNotIn" item="it" open="(" close=")" separator=",">#{it}</foreach>
                    </if>
                    <if test="condition.updatedByMin != null">
                        <![CDATA[
                        AND MT.`updated_by` >= #{condition.updatedByMin}
                        ]]>
                    </if>
                    <if test="condition.updatedByMax != null">
                        <![CDATA[
                        AND MT.`updated_by` <= #{condition.updatedByMax}
                        ]]>
                    </if>
                    <if test="condition.createdAtMin != null">
                        <![CDATA[
                        AND MT.`created_at` >= #{condition.createdAtMin}
                        ]]>
                    </if>
                    <if test="condition.createdAtMax != null">
                        <![CDATA[
                        AND MT.`created_at` <= #{condition.createdAtMax}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMin != null">
                        <![CDATA[
                        AND MT.`updated_at` >= #{condition.updatedAtMin}
                        ]]>
                    </if>
                    <if test="condition.updatedAtMax != null">
                        <![CDATA[
                        AND MT.`updated_at` <= #{condition.updatedAtMax}
                        ]]>
                    </if>
                </trim>
            </if>
        </where>
    </sql>
</mapper>
