@import './base.css';

#app {
    margin: 0 auto;
}

.form-item-160 {
    width: 160px;
}

.form-item-320 {
    width: 320px;
}

.form-item-640 {
    width: 640px;
}

.form-item-1280 {
    width: 1280px;
}
