<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.xi.maple.datacalc.api.persistence.mapper.JobQueueMapper">

    <resultMap id="ResultMap" type="org.xi.maple.datacalc.api.persistence.entity.JobQueueEntity">
        <result property="queueName" column="queue_name"/>
        <result property="lockName" column="lock_name"/>
        <result property="cluster" column="cluster"/>
        <result property="clusterQueue" column="cluster_queue"/>
        <result property="engineCategory" column="engine_category"/>
        <result property="engineVersion" column="engine_version"/>
        <result property="engineType" column="engine_type"/>
        <result property="fromApp" column="from_app"/>
        <result property="group" column="group"/>
        <result property="priority" column="priority"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="tableName">`maple_job_queue`</sql>

    <!--插入作业队列-->
    <insert id="insert">
        insert into <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entity.queueName != null">`queue_name`,</if>
            <if test="entity.lockName != null">`lock_name`,</if>
            <if test="entity.cluster != null">`cluster`,</if>
            <if test="entity.clusterQueue != null">`cluster_queue`,</if>
            <if test="entity.engineCategory != null">`engine_category`,</if>
            <if test="entity.engineVersion != null">`engine_version`,</if>
            <if test="entity.engineType != null">`engine_type`,</if>
            <if test="entity.fromApp != null">`from_app`,</if>
            <if test="entity.group != null">`group`,</if>
            <if test="entity.priority != null">`priority`,</if>
            <if test="entity.createTime != null">`create_time`,</if>
            <if test="entity.updateTime != null">`update_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entity.queueName != null">#{entity.queueName},</if>
            <if test="entity.lockName != null">#{entity.lockName},</if>
            <if test="entity.cluster != null">#{entity.cluster},</if>
            <if test="entity.clusterQueue != null">#{entity.clusterQueue},</if>
            <if test="entity.engineCategory != null">#{entity.engineCategory},</if>
            <if test="entity.engineVersion != null">#{entity.engineVersion},</if>
            <if test="entity.engineType != null">#{entity.engineType},</if>
            <if test="entity.fromApp != null">#{entity.fromApp},</if>
            <if test="entity.group != null">#{entity.group},</if>
            <if test="entity.priority != null">#{entity.priority},</if>
            <if test="entity.createTime != null">#{entity.createTime},</if>
            <if test="entity.updateTime != null">#{entity.updateTime},</if>
        </trim>
    </insert>

    <!--根据主键条件更新作业队列-->
    <update id="updateByPk">
        UPDATE <include refid="tableName"/>
        <set>
            <if test="entity.queueName != null">
                `queue_name` = #{entity.queueName},
            </if>
            <if test="entity.lockName != null">
                `lock_name` = #{entity.lockName},
            </if>
            <if test="entity.cluster != null">
                `cluster` = #{entity.cluster},
            </if>
            <if test="entity.clusterQueue != null">
                `cluster_queue` = #{entity.clusterQueue},
            </if>
            <if test="entity.engineCategory != null">
                `engine_category` = #{entity.engineCategory},
            </if>
            <if test="entity.engineVersion != null">
                `engine_version` = #{entity.engineVersion},
            </if>
            <if test="entity.engineType != null">
                `engine_type` = #{entity.engineType},
            </if>
            <if test="entity.fromApp != null">
                `from_app` = #{entity.fromApp},
            </if>
            <if test="entity.group != null">
                `group` = #{entity.group},
            </if>
            <if test="entity.priority != null">
                `priority` = #{entity.priority},
            </if>
            <if test="entity.createTime != null">
                `create_time` = #{entity.createTime},
            </if>
            <if test="entity.updateTime != null">
                `update_time` = #{entity.updateTime}
            </if>
        </set>
        <where>
            <choose>
                <when test="pk != null">
                    `queue_name` = #{pk}
                </when>
                <otherwise>
                    1!=1
                </otherwise>
            </choose>
        </where>
    </update>

    <!--根据主键获取作业队列详情-->
    <select id="detailByPk" resultMap="ResultMap">
        SELECT MT.`queue_name`,
               MT.`lock_name`,
               MT.`cluster`,
               MT.`cluster_queue`,
               MT.`engine_category`,
               MT.`engine_version`,
               MT.`engine_type`,
               MT.`from_app`,
               MT.`group`,
               MT.`priority`,
               MT.`create_time`,
               MT.`update_time`
        FROM <include refid="tableName"/> MT
        <where>
            MT.`queue_name` = #{pk}
        </where>
    </select>
</mapper>