@blue-base: #1890ff;
@purple-base: #722ed1;
@cyan-base: #13c2c2;
@green-base: #52c41a;
@magenta-base: #eb2f96;
@pink-base: #eb2f96;
@red-base: #f5222d;
@orange-base: #fa8c16;
@yellow-base: #fadb14;
@volcano-base: #fa541c;
@geekblue-base: #2f54eb;
@lime-base: #a0d911;
@gold-base: #faad14;

.ant-table-thead > tr > th {
  background: #f3f3f3;
  border-bottom: 1px solid #f1f1f1;
}

:root {
  --xi-color-primary: rgb(64, 158, 255);
  --xi-color-primary-hover: rgb(121, 187, 255);
  --xi-color-primary-disabled: rgb(159, 206, 255);
  --xi-color-primary-active: rgb(51, 126, 204);
  --xi-color-success: rgb(103, 194, 58);
  --xi-color-success-hover: rgb(148, 212, 117);
  --xi-color-success-disabled: rgb(179, 224, 156);
  --xi-color-success-active: rgb(82, 155, 46);
  --xi-color-warning: rgb(230, 162, 60);
  --xi-color-warning-hover: rgb(237, 189, 118);
  --xi-color-warning-disabled: rgb(242, 208, 157);
  --xi-color-warning-active: rgb(184, 129, 48);
  --xi-color-danger: rgb(245, 108, 108);
  --xi-color-danger-hover: rgb(248, 152, 152);
  --xi-color-danger-disabled: rgb(250, 181, 181);
  --xi-color-danger-active: rgb(196, 86, 86);
  --xi-color-error: rgb(245, 108, 108);
  --xi-color-error-hover: rgb(248, 152, 152);
  --xi-color-error-disabled: rgb(250, 181, 181);
  --xi-color-error-active: rgb(196, 86, 86);
  --xi-color-info: rgb(144, 147, 153);
  --xi-color-info-hover: rgb(177, 179, 183);
  --xi-color-info-disabled: rgb(199, 201, 204);
  --xi-color-info-active: rgb(115, 117, 122);
}

.ant-btn {

  &.btn-primary,
  &.btn-success,
  &.btn-warning,
  &.btn-danger,
  &.btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }

  &.btn-primary:hover,
  &.btn-success:hover,
  &.btn-warning:hover,
  &.btn-danger:hover,
  &.btn-info:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }

  &.btn-primary:active,
  &.btn-success:active,
  &.btn-warning:active,
  &.btn-danger:active,
  &.btn-info:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }

  &.btn-primary {
    background-color: var(--xi-color-primary);
    border-color: var(--xi-color-primary);

    &:hover {
      background-color: var(--xi-color-primary-hover);
      border-color: var(--xi-color-primary-hover);
    }

    &:active {
      background-color: var(--xi-color-primary-active);
      border-color: var(--xi-color-primary-active);
    }

    &[disabled] {
      background-color: var(--xi-color-primary-disabled);
      border-color: var(--xi-color-primary-disabled);
    }
  }

  &.btn-info {
    background-color: var(--xi-color-info);
    border-color: var(--xi-color-info);

    &:hover {
      background-color: var(--xi-color-info-hover);
      border-color: var(--xi-color-info-hover);
    }

    &:active {
      background-color: var(--xi-color-info-active);
      border-color: var(--xi-color-info-active);
    }

    &[disabled] {
      background-color: var(--xi-color-info-disabled);
      border-color: var(--xi-color-info-disabled);
    }
  }

  &.btn-success {
    background-color: var(--xi-color-success);
    border-color: var(--xi-color-success);

    &:hover {
      background-color: var(--xi-color-success-hover);
      border-color: var(--xi-color-success-hover);
    }

    &:active {
      background-color: var(--xi-color-success-active);
      border-color: var(--xi-color-success-active);
    }

    &[disabled] {
      background-color: var(--xi-color-success-disabled);
      border-color: var(--xi-color-success-disabled);
    }
  }

  &.btn-warning {
    background-color: var(--xi-color-warning);
    border-color: var(--xi-color-warning);

    &:hover {
      background-color: var(--xi-color-warning-hover);
      border-color: var(--xi-color-warning-hover);
    }

    &:active {
      background-color: var(--xi-color-warning-active);
      border-color: var(--xi-color-warning-active);
    }

    &[disabled] {
      background-color: var(--xi-color-warning-disabled);
      border-color: var(--xi-color-warning-disabled);
    }
  }

  &.btn-danger {
    background-color: var(--xi-color-danger);
    border-color: var(--xi-color-danger);

    &:hover {
      background-color: var(--xi-color-danger-hover);
      border-color: var(--xi-color-danger-hover);
    }

    &:active {
      background-color: var(--xi-color-danger-active);
      border-color: var(--xi-color-danger-active);
    }

    &[disabled] {
      background-color: var(--xi-color-danger-disabled);
      border-color: var(--xi-color-danger-disabled);
    }
  }


  &.btn-primary[disabled],
  &.btn-success[disabled],
  &.btn-warning[disabled],
  &.btn-danger[disabled],
  &.btn-info[disabled] {
    text-shadow: none;
    box-shadow: none;
  }
}

.text-primary {
  color: var(--xi-color-primary);
}

.text-danger {
  color: var(--xi-color-danger);
}

.text-success {
  color: var(--xi-color-success);
}

.text-warning {
  color: var(--xi-color-warning);
}

.text-info {
  color: var(--xi-color-info);
}

.table-striped {
  background-color: #f6f6f6;
}

.search-form {
  margin: 10px;
  padding: 0.4rem;
  background-color: #ffffff;

  .ant-form .ant-form-item {
    margin: 0.4rem;
    .ant-btn + .ant-btn {
      margin-left: 0.5rem;
    }
  }
}

.list-table {
  padding: 0.8rem;
  margin: 10px;
  background-color: #ffffff;

  .operation-btns {
    margin-bottom: 0.8rem;

    .ant-btn + .ant-btn {
      margin-left: 0.5rem;
    }
  }

  .ant-pagination {
    margin-top: 1rem;
  }

  .ant-table {
    .anticon {
      font: 1.2em sans-serif;
    }

    .anticon.anticon-check,
    .anticon.anticon-check-circle {
      color: #67c23a;
    }

    .anticon.anticon-stop,
    .anticon.anticon-stop-circle {
      color: #e6a23c;
    }

    .disable {
      .anticon.anticon-stop,
      .anticon.anticon-stop-circle {
        display: none;
      }

      .anticon.anticon-check,
      .anticon.anticon-check-circle {
        display: inline-block;
      }
    }

    .disable:hover {
      .anticon.anticon-stop,
      .anticon.anticon-stop-circle {
        display: inline-block;
      }

      .anticon.anticon-check,
      .anticon.anticon-check-circle {
        display: none;
      }
    }

    .enable {
      .anticon.anticon-check,
      .anticon.anticon-check-circle {
        display: none;
      }

      .anticon.anticon-stop,
      .anticon.anticon-stop-circle {
        display: inline-block;
      }
    }

    .enable:hover {
      .anticon.anticon-check,
      .anticon.anticon-check-circle {
        display: inline-block;
      }

      .anticon.anticon-stop,
      .anticon.anticon-stop-circle {
        display: none;
      }
    }

    .table-operations {
      display: inline-block;

      > * + * {
        margin-left: 5px;
      }
    }
  }
}


.ant-form {
  font-size: 12px;
}

.ant-form label {
  font-size: 12px;
}

.ant-form-item {
  margin-bottom: 14px;

  .ant-form-item-label > label {
    font-size: 12px;
    height: 24px;
  }
}

.ant-form-item-control-input {
  min-height: 24px;
}

.ant-form-item-with-help {
  margin-bottom: 0;
}

.ant-form-item-with-help .ant-form-item-explain {
  min-height: 14px;
}

.ant-input, .ant-input-number, .ant-select, .ant-select-item {
  font-size: 12px;
  vertical-align: middle;
}

.ant-form-item-explain, .ant-form-item-extra {
  font-size: 12px;
  line-height: 1;
}

.ant-btn-sm {
  font-size: 12px;
}

.ant-input-password.ant-input-affix-wrapper-sm {
  padding: 0 7px;
  font-size: 12px;
}

.ant-form-small .ant-form-item-explain-error {
  font-size: 10px;
}

.ant-card-small {
  .ant-card-head,
  .ant-card-body {
    padding: 0.8rem;
  }
}